*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
   height: 100%;
  
}

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-image: linear-gradient(#fafffa,#ffffff);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) ;
    z-index: 999;
    
}
.navbar .logo {
    padding:  5px 2%;
    top: 0;
    bottom: 0;    
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.navbar .logo img{
    width:10%;
    height: 30%;
}


.navbar .logo h1{
    color: rgb(216, 142, 4);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
    padding: 25px 30%;  
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar .menu li a{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 0 15px 5px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}


.navbar .menu li .active{
    border-bottom: 4px solid rgb(238, 165, 8);
}

.navbar .menu li a:hover{
    border-bottom: 4px solid rgb(238, 165, 8);
}
.navbar .menu-btn{
    color: black;
    padding: 5px 5%;  
}
.navbar .menu-btn:hover{
    color: rgb(109, 108, 108);
    padding: 5px 5%;  
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    padding-right: 30px;
}
#menu-icon:hover{
    font-size: 2rem;
    cursor: pointer;
    color: #6d726d;
}

.navbarmenu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
  
  }
  
  
  
.navbar-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        transition: height 0.2s ease-in-out;
        height: 0;
        overflow: hidden;
        z-index: 1; /* Ensure the menu appears above other content */
  }
  /*/{
  .navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  transition: height 0.2s ease-in-out;
  height: 0;
  overflow: hidden;
}/*/
  .navbar-nav.show {
    height: auto;
  }
  
  .nav-item {
    margin: 5px 7px 5px 5px;
    padding:  5px 3px 5px 7px;
    right: 10px;
   
  }
  
  .nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    margin: 2px 2px 2px 5px;
    padding:  5px 3px 5px 7px;
    
   
  }
  
  .nav-item a:hover {
    background-color: #f2f2f2;
  }


.nav-catalogue{
    padding: 20px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-image: linear-gradient(#fafffa,#ffffff);
    border: 1px solid black;
    z-index: 0;
}
.nav-catalogue .menu-catalogue li{
    list-style: none;
    color: black;
    border-bottom: 1px solid transparent;
    display: inline-block;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 10px 100px 5px;
    text-align: center;
    
}
.nav-catalogue .menu-catalogue li a{
    color: black;
    border-bottom: 1px solid transparent;
    text-decoration: none;

}
.nav-catalogue .menu-catalogue li .active{
    border-bottom: 4px solid rgb(238, 165, 8);
}
.nav-catalogue .menu-catalogue a:hover{
    border-bottom: 4px solid rgb(238, 165, 8);
}
#cart-icon{
    padding-left: 4px;
    cursor: pointer;
}

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 0 4px hsl(0 4% 15% /10%);
    z-index: 999;
    transition: 0.3s;
}

.cart.active{
    right: 0;

}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    
}
.cart-image{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem ;
}

.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    
}
.cart-price{
    font-weight: 500;
    
    
}

.cart-quantity{
    border: 1px solid black;
    outline: rgb(255, 4, 4);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
   
}

#remove-item{
    font-size: 24px;
    color: rgb(255, 4, 4);
    cursor: pointer;
}

.total{
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 5px;
    
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
    right: 0;

}
.total-price{
    margin-left: 0.5rem; 
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border:none;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    filter: opacity(50%);
    color: white;

}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}

.pheading{
    margin-top: 20px;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
.store-container{
    padding: 20px 70px 0;
    border-top: 10px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 5px;
    z-index: 999;
}
.store-container .cart-box{
    width: 400px;
    padding: 0 2%;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid black;
    display: inline-block;
    justify-self:center;
    align-items: center;
    z-index: 1;
    contain: content;
}
.store-container .cart-box img{
   
    margin-top: 10px;
    width: 280px;
    height: 300px;
    padding: 60px 10px 5%;
    border: none;
    z-index: 0;
    display: block;
    margin: auto;
    object-fit: cover;
   
}
.store-container h2{
    text-align: center;
}

.store-container .cart-box img:hover{
    transform: scale(1.1);
    opacity: 0.8;
    margin-top: 10px;
    width: 280px;
    height: 300px;
    padding: 60px 10px 5%;
    border: none;
    z-index: 0;
    display: block;
    margin: auto;
    object-fit: cover;
}
.store-container .cart-box .title{
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-align: center;
}
.store-container .cart-box .desc{
    font-size: 15px;
    font-weight: 400;
    border-bottom: 5px;
    color: black;
    text-align: center;
}
.store-container .cart-box .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 15px 5% 0 ;
    line-height: 20px;
    
}

.store-container .card .box .price{
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    padding-left: 0px;
    color: rgb(250, 0, 0);


}
#ccart-icon{ 
    
    font-size: 20px;
    color: rgb(255, 5, 5);
    cursor: pointer;
    padding: 0 90%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    
    
}
footer{
    display: inline-flex;
    flex-direction: column;
  }


.foot{
    width: 100%;
    padding:  15px 50px;
    color: white;
    background-image: linear-gradient(#020202,#1c201c) ;  
}

.foot .footinfo{
    border-top: 10px;
    padding: 10px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));

}

.foot .copyright{
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}
.foot .info{
    padding: 7px 5%;
    border-top: 5px;
    display: inline-block;

}
.foot .heading{
    font-size: 17px;
    font-weight: 200px;
    padding: 7px 5%;
    border-bottom: 7px;
}
.foot .footmenu li{
    list-style: none;
    padding: 2px 5px 7px;
    font-size: 15px;
    color: grey;
    border-bottom: 2px solid transparent;

}
.foot .footmenu li a{
    list-style: none;
    padding: 2px 5px 7px;
    color: grey;
    border-bottom: 2px solid transparent;

}
.foot .footmenu li a:hover{
    color: #fffbfb;
    border-bottom: 2px solid transparent;

}
.social{
    display: inline-block;
    
}


.social .logos {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;  

}

.social .logos img{
    padding: 10px 5%;
    width: 25px;
    height: 25px;
    filter: invert(70%);

}
.social .logos img:hover{
    padding: 10px 5%;
    width: 25px;
    height: 25px;
    filter: invert(100%);

}
/*BreakPoints*/
@media (max-width:1080px){
    .navbar{
        padding: 15px;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .store-container{
        margin: 0 auto;
        width: 90%;
    }
}
@media (max-width:400px){
    .navbar{
        padding: 11px;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width: 320px;
    }
}
@media (max-width:360px){
    .cart{
        width: 280px;
    }

}